trigger: none

pool:
  name: anantpool

jobs:
# -----------------------------------
# Job 1: Terraform Init & Validate
# -----------------------------------
- job: firstjob
  displayName: Terraform Init & Validate
  steps:

  - task: TerraformInstaller@1
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: Terraform Init
    inputs:
      provider: azurerm
      command: init
      workingDirectory: '$(System.DefaultWorkingDirectory)\environments\dev'
      backendServiceArm: anantconnection
      backendAzureRmResourceGroupName: anant-dev-rg1
      backendAzureRmStorageAccountName: anantstorageact
      backendAzureRmContainerName: anantcontainer
      backendAzureRmKey: anant-terraform.tfstate

  - task: TerraformTask@5
    displayName: Terraform Validate
    inputs:
      provider: azurerm
      command: validate
      workingDirectory: '$(System.DefaultWorkingDirectory)\environments\dev'

  - task: TerraformTask@5
    displayName: Terraform Plan
    inputs:
      provider: azurerm
      command: plan
      workingDirectory: '$(System.DefaultWorkingDirectory)\environments\dev'
      environmentServiceNameAzureRM: anantconnection

# -----------------------------------
# Job 2: Security Scan (tfsec)
# -----------------------------------
- job: securityscan_job
  displayName: tfsec Security Scan
  dependsOn: firstjob
  steps:

  - powershell: |
      $version = "v1.28.1"
      $url = "https://github.com/aquasecurity/tfsec/releases/download/$version/tfsec-windows-amd64.exe"
      $path = "$env:AGENT_TEMPDIRECTORY\tfsec.exe"

      Invoke-WebRequest $url -OutFile $path
      Move-Item $path "C:\Windows\System32\tfsec.exe" -Force
      tfsec --version
    displayName: Install tfsec

  - powershell: |
      cd "$(System.DefaultWorkingDirectory)\environments\dev"
      tfsec . --soft-fail
    displayName: Run tfsec scan

# -----------------------------------
# Job 3: Manual Approval
# -----------------------------------
- job: secondjob
  displayName: Manual Approval
  dependsOn: securityscan_job
  pool: server
  steps:
  - task: ManualValidation@1
    inputs:
      notifyUsers: chandrapratap.smsit@gmail.com
      instructions: 'Please approve Terraform Apply'

# -----------------------------------
# Job 4: Terraform Apply
# -----------------------------------
- job: thirdjob
  displayName: Terraform Apply
  dependsOn: secondjob
  steps:

  - task: TerraformTask@5
    displayName: Terraform Apply
    inputs:
      provider: azurerm
      command: apply
      workingDirectory: '$(System.DefaultWorkingDirectory)\environments\dev'
      environmentServiceNameAzureRM: anantconnection
